
/* Global Styling -------------------*/
html {
	/* background: white url("images/background.gif"); */
	margin-left: calc(100vw - 100%); /* Scrollbar space fix. Credit goes to Ayke van Laëthem */
 }

body {
	display: flex;
	justify-content: center;
	background-color: #333333;
	padding: 0;
	margin: 40px auto;
	font-size: 1.2em;
}


/* NavBar Styling ------------------- */
#title {
	font-weight: bold;
	color: black;
	text-shadow: 1px 1px 1px black,
             2px 2px 1px #FFD700;
}

.navigationMenu {
	display: flex;
	flex-direction: column;
	width: 20rem;
	align-items: center;
	background-color: #F7DE3A ;
	border-radius: 10px;
	margin: 10px;
}

.navigation {
	display: flex;
	align-items: center;
	position: relative;
	background-color: #315399;
	font-family: sans-serif;
	width: 100%;
}

.navigation ul {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	flex: 1 1 0;
}

.navigation ul li {
	list-style-type: none;
	flex: 1;  /* Makes each item take up equal negative space */
	text-align: center;
}

.navigation a {
	display: block;
	padding: 1rem 2rem;
	text-decoration: none;
	color: white;
	text-shadow: 1px 1px 1px black,
        1px 1px 1px black;
}

.navigation li :hover {
	background-color: #1289b8;
}

.timestamp {
	width: fit-content;
	background-color: #414767;
	color: white;
	border-radius: 10%;
	padding: 1em;
	border: 0.5em solid black;
}


/* Article Styling ------------------- */
.articlesContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.article {
	justify-content: center;
	width: 50rem;
	padding: 10px;
	margin: 10px;
	border-radius: 1%;
	font-size: 1.3rem;
}

.article img {
	display: block;
	max-width: 300px;
	max-height: 300px;
	margin-left: auto;
	margin-right: auto;
}

code {
	font-size: 18px;
}



/* Forum Styling ------------------- */
.forum {
	background-color: #BFC1C2;
	padding: 10px 20px;
}



/* colors different articles with a different color scheme
/* indigo blue coloring */
/* Old coloring: #8cd4d1, #57c1bc */
body .article li{
	width: fit-content;
}

body .article:nth-child(4n) {
	background-color: #3b9ed6;
}
body .article:nth-child(4n) ul li:nth-child(odd) {
	background-color: #57c1bc;
}


/* green coloring */
body .article:nth-child(4n + 1) {
	background-color: #50C878;
}
body .article:nth-child(4n + 1) ul li:nth-child(odd) {
	background-color: #57c157;
}


/* pastel pink coloring */
/* old colors: #d48cc2, #c157a7 */
body .article:nth-child(4n + 2) {
	background-color: #fb9ed6;
}
body .article:nth-child(4n + 2) ul li:nth-child(odd) {
	background-color: #c157a7
}


/* soft purple coloring */
body .article:nth-child(4n + 3) {
	background-color: #8c8cd4;
}
body .article:nth-child(4n + 3) ul li:nth-child(odd) {
	background-color: #5757c1
}



