
.navigation {
	display: flex;
	align-items: center;
	position: relative;
	background-color: #021f9c;
	font-family:sans-serif;
}

.navigation ul {
	display: flex;
	margin: 0;
	padding: 0;
	flex: 1 1 0;
}

.navigation ul li {
	list-style-type: none;
	flex: 1;  /* Makes each item take up equal negative space */
	text-align: center;
}

.navigation a {
	display: block;
	padding: 1rem 2rem;
	text-decoration: none;
	color: #a4f644;
	text-shadow: 1px 1px 1px black,
        1px 1px 1px #FFD700;
}

.navigation li :hover {
	background-color: red;
}

html {
	/* background: white url("images/background.gif"); */
	margin-right:auto;
	margin-left:auto;
 }

body {
	background-color: #333333;
	max-width: 1000px;
	padding: 0;
	margin: 40px auto;
	font-size: 1.2em;
}


#title{
	font-style: oblique;
	font-weight: bold;
	color: #FFD700;
	text-shadow: 1px 1px 1px black,
             2px 2px 1px #FFD700;
	padding-left: 1%;
}

.timestamp {
	width: fit-content;
	background-color: #414767;
	color: #a4f644;
	border-radius: 10%;
	padding: 1em;
	border: 0.5em solid black;
}

.article img {
	display: block;
	max-width: 300px;
	max-height: 300px;
	margin-left: auto;
	margin-right: auto;
}

.article{
	padding-left: 1%;
	padding-bottom: 1%;
	padding-top: 1%;
	padding-right: 2%;
	margin-bottom: 1%;
	border-radius: 1%;
}

code{
	font-size: 18px;
}



/* colors different articles with a different color scheme
/* indigo blue coloring */
/* Old coloring: #8cd4d1, #57c1bc */
body .article li{
	width: fit-content;
}

body .article:nth-child(4n) {
	background-color: #3b9ed6;
}
body .article:nth-child(4n) ul li:nth-child(odd) {
	background-color: #57c1bc;
}


/* green coloring */
body .article:nth-child(4n + 1) {
	background-color: #8cd48c;
}
body .article:nth-child(4n + 1) ul li:nth-child(odd) {
	background-color: #57c157;
}


/* pastel pink coloring */
/* old colors: #d48cc2, #c157a7 */
body .article:nth-child(4n + 2) {
	background-color: #fb9ed6;
}
body .article:nth-child(4n + 2) ul li:nth-child(odd) {
	background-color: #c157a7
}


/* soft purple coloring */
body .article:nth-child(4n + 3) {
	background-color: #8c8cd4;
}
body .article:nth-child(4n + 3) ul li:nth-child(odd) {
	background-color: #5757c1
}



