{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
	<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
	<title>About Page</title>
</head>
<body>
	<div class="navigationMenu">
		<h1 id="title">About</h1>
		<div class="navigation">
			<ul>
				<li><a href="{% url 'blog:blog_home' %}">Home</a></li>
				<li><a href="{% url 'blog:blog_archive' %}">Archive</a></li>
				<li><a href="{% url 'blog:about' %}">About</a></li>
				<li><a href="{% url 'blog:plan' %}">Plan</a></li>
				<li><a href="{% url 'blog:techtips+css' %}">CSS</a></li>
			</ul>
		</div>
		<h5 class = "timestamp"> {{ now }} </h5> 
	</div>
	
	<div class = "articlesContainer">
		<div class="article">
		</div>
	</div>

</body>
</html>