{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
	<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
	<title>Plan</title>
</head>
<body>
	<div class="navigationMenu">
		<h1 id="title">Plan</h1>
		<div class="navigation">
			<ul>
				<li><a href="{% url 'blog:blog_home' %}">Home</a></li>
				<li><a href="{% url 'blog:blog_archive' %}">Archive</a></li>
				<li><a href="{% url 'blog:about' %}">About</a></li>
				<li><a href="{% url 'blog:plan' %}">Plan</a></li>
				<li><a href="{% url 'blog:techtips+css' %}">CSS</a></li>
			</ul>
		</div>
		<h5 class = "timestamp"> {{ now }} </h5> 
	</div>
	
	
	<div class = "articlesContainer">
		<div class="article">
			<h3>Rough Future Plan for this Django Blog site :)</h3>
			<p>There's a ton of things that I want to do with this website. It looks pretty funky atm, so there's always the need to 
			spruce it up to make it nice. That's one way to go about it. The other way is to actually make this usable. 
			currently, this website is not used as intended.
			</p>
			<p>Okay, scratch that, for this study session, I'll just look at the code I've already written and refactor things that I see needs
			to be done.
			</p>
		</div>
	</div>
	

</body>
</html>